
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.ingredientsList {
  list-style: none; /* Remove default bullets */
}

.ingredientsList .ingredientList-item::before {
  content: "\2022";
  color: #b50f0f;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.stepList {
  list-style: none; 
  counter-reset: item;

}

.stepList .stepList-item::before {
  counter-increment: item;
  content: counter(item)'- ';
  color: #b50f0f;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

